<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/bhanupratap/Desktop/temp_mishra/FreeCRM/src/test"><classes><class name="freeCRMTests.LandingPageTests"><methods><include name="validateLandingTitle"/></methods></class></classes></test></suite>